.welcome-line {
    font-size: 1.3em;
    color: #444;
    display: block;
    margin-bottom: 0.1em;
}

.nav-forward {
    display: none !important;
}

.people-list img {
    border-radius: 10%;
}
.tabs, #tab2 {
    height: 100%;
}
.skeleton-view {
    overflow: scroll;
    height: calc(100vh - 150px);
    width: 100%;
}
.skeleton-view .main {
    width: 200%;
}
.skeleton-view .pain {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 35px;
    height: 35px;
}
.modal-overlay {
    background: rgba(0,0,0,.2) !important;
}

/* CHAT */
    .chat-discussion, .chat-users {
        height: calc(100vh - 150px);
    }
    .chat-user-name {
        padding: 0;
        margin-left: 5px;
    }
    .chat-user {
        display: flex;
    }
    .chat-user img {
        float: none;
    }
    .chat-avatar {
        margin-right: 5px;
    }
    .chat-message {
        padding: 5px 0 0 5px;
    }
    label {
        font-weight: unset;
    }
    .col-xs-9, .col-xs-3, .col-xs-8 {
        padding: 0;
    }


/* INTRO */
.swiper-container {
  height: calc(100vh - 70px);
}
.swiper-slide {
  background:#fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin:20px;
  font-size:21px;
}
#swiper-logo {
    width: 80%;
    position: absolute;
    top: 100px;
    right: 0;
}
#swiper-hello {
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    margin: 20px;
}
#intro-form {
    margin-top: 0;
}
