.welcome-line {
    font-size: 1.3em;
    color: #444;
    display: block;
    margin-bottom: 0.1em;
}

.nav-forward {
    display: none !important;
}

.people-list img {
    border-radius: 10%;
}
.tabs, #tab2 {
    height: 100%;
}
.skeleton-view {
    overflow: scroll;
    height: calc(100vh - 150px);
    width: 100%;
}
.skeleton-view .main {
    width: 200%;
}
.skeleton-view .pain {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 35px;
    height: 35px;
}
.modal-overlay {
    background: rgba(0,0,0,.2) !important;
}

/* CHAT */
    .chat-discussion, .chat-users {
        height: calc(100vh - 150px);
    }
    .chat-user-name {
        padding: 0;
        margin-left: 5px;
    }
    .chat-user {
        display: flex;
    }
    .chat-user img {
        float: none;
    }
    .chat-avatar {
        margin-right: 5px;
    }
    .chat-message {
        padding: 5px 0 0 5px;
    }
    label {
        font-weight: unset;
    }
    .col-xs-9, .col-xs-3, .col-xs-8 {
        padding: 0;
    }


/* INTRO */
.swiper-container {
  height: calc(100vh - 70px);
}
.swiper-slide {
  background:#fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin:20px;
  font-size:21px;
}
#swiper-logo {
    width: 80%;
    position: absolute;
    top: 100px;
    right: 0;
}
#swiper-hello {
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    margin: 20px;
}
#intro-form {
    margin-top: 0;
}

.br-theme-fontawesome-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-fontawesome-stars .br-widget a {
  font: normal normal normal 20px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
}
.br-theme-fontawesome-stars .br-widget a:after {
  content: '\f005';
  color: #d2d2d2;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
  color: #EDB867;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  color: #EDB867;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
  display: none;
}
.br-theme-fontawesome-stars .br-readonly a {
  cursor: default;
}
@media print {
  .br-theme-fontawesome-stars .br-widget a:after {
    content: '\f006';
    color: black;
  }
  .br-theme-fontawesome-stars .br-widget a.br-active:after,
  .br-theme-fontawesome-stars .br-widget a.br-selected:after {
    content: '\f005';
    color: black;
  }
}



/* intro */
.avatar-choice {
    display: flex;
}
.avatar-choice > img {
    margin: 10px;
    width: 28%;
    border: 1px solid black;
    border-radius: 10px;
}
.avatar-choice > img.active {
    border: 5px solid #00BCD4;
}
.avatar-choice:hover {
    cursor: pointer;
}